@layer reset, base, tokens, recipes, utilities;

.override-shape-button {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  inline-size: max-content;
  block-size: max-content;
  padding: 2px;
  transition: filter 250ms cubic-bezier(0.2, 0, 0, 1);
}

.override-shape-button m3e-shape {
  --m3e-shape-container-color: transparent;
  --m3e-shape-transition: clip-path 350ms cubic-bezier(0.2, 0, 0, 1);
  display: inline-flex;
  inline-size: max-content;
  block-size: max-content;
  aspect-ratio: auto;
}

.override-shape-button m3e-button {
  --m3e-button-outline-thickness: 0px;
  --m3e-button-shape-round: 0px;
  --m3e-button-shape-square: 0px;
  --m3e-button-extra-small-shape-round: 0px;
  --m3e-button-small-shape-round: 0px;
  --m3e-button-medium-shape-round: 0px;
  --m3e-button-large-shape-round: 0px;
  --m3e-button-extra-large-shape-round: 0px;
}

.override-shape-button[data-variant='outlined'] {
  filter: drop-shadow(1px 0 0 var(--colors-outline))
    drop-shadow(-1px 0 0 var(--colors-outline))
    drop-shadow(0 1px 0 var(--colors-outline))
    drop-shadow(0 -1px 0 var(--colors-outline));
}

.override-shape-button[data-variant='outlined']:hover {
  filter: drop-shadow(1.5px 0 0 var(--colors-primary))
    drop-shadow(-1.5px 0 0 var(--colors-primary))
    drop-shadow(0 1.5px 0 var(--colors-primary))
    drop-shadow(0 -1.5px 0 var(--colors-primary));
}

.override-shape-button[data-variant='filled']:hover,
.override-shape-button[data-variant='tonal']:hover,
.override-shape-button[data-variant='elevated']:hover {
  filter: drop-shadow(1.5px 0 0 var(--colors-primary))
    drop-shadow(-1.5px 0 0 var(--colors-primary))
    drop-shadow(0 1.5px 0 var(--colors-primary))
    drop-shadow(0 -1.5px 0 var(--colors-primary));
}
